UV_INSTALL_DIR=
# /path/to/uv/install/dir (optional). If not set, uv will be installed in the default location.

UV_CACHE_DIR=
# /path/to/uv/cache/dir (optional). If not set, uv will use the default cache location.

UV_SYSTEM_SITE_PACKAGES=
# Set to 1, true, or yes to enable --system-site-packages when creating the virtual environment.
