include hiraxmcmc/planckfiles/*.ini
include hiraxmcmc/mmoderesults/run*/draco/*.h5
include hiraxmcmc/mmoderesults/run*/drift*/bt/*/psmc*/*.hdf5
include hiraxmcmc/mmoderesults/run*/drift*/*.yaml
include hiraxmcmc/util/data/
include hiraxmcmc/util/data/planck*/
include hiraxmcmc/util/data/planck*/*
